 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm Tom Green, Mathematician and Graphic Designer, currently working as a Statistician and Content Creator at Squawka. I started studying Maths at an early age acheiveing an A and A* grade at GCSE and A Level respectively before attaining a First Class Mathematics degree at University.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have always had a passion for programming and Graphic Design and have been dabbling in both from a young age but have since been employed full time as a Graphic designer.                   Like what you see? Please feel free to take a look at my CV below, where you can learn more about me!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/TomGreencv2.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-pdf-o"></i> My CV
                    </a>
                </div>
            </div>
        </div>
    </section>
