<section class="success" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>

                      <div class="grid-block">
                          <ul class="list-unstyled list-skills">

                                  <li>

                                          <span class="caption-skill">Mathematics</span>


                                          <div class="progress">
                                              <div class="progress-bar" style="width: 100%">
                                                  <span>100% </span>
                                              </div>
                                          </div>


                                  </li>
                                  <li>

                                          <span class="caption-skill">Photoshop</span>


                                          <div class="progress">
                                              <div class="progress-bar" style="width: 90%">
                                                  <span>90% </span>
                                              </div>
                                          </div>


                                  </li>
                                  <li>

                                          <span class="caption-skill">Ruby</span>


                                          <div class="progress">
                                              <div class="progress-bar" style="width: 80%">
                                                  <span>80% </span>
                                              </div>
                                          </div>


                                  </li>
                                  <li>

                                          <span class="caption-skill">HTML/CSS</span>


                                          <div class="progress">
                                              <div class="progress-bar" style="width: 70%">
                                                  <span>70% </span>
                                              </div>
                                          </div>


                                  </li>
                                  <li>

                                          <span class="caption-skill">Matlab</span>


                                          <div class="progress">
                                              <div class="progress-bar" style="width: 70%">
                                                  <span>70% </span>
                                              </div>
                                          </div>


                                  </li>

                          </ul>
                      </div>


      </div>

</section>
